



.profile {
    width: 400px;
    padding: 10px;
    background-color: rgb(215, 221, 226);
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    margin-top: 20px;


}

.description {
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 70px;
    margin-bottom: 0px;
    text-align: center;

}


.avatar {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid rgb(97, 87, 87);

}

.name {
    color: #494949;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 14px;
}

.quantity {
    color: #494949;
    font-size: x-large;
    font-weight: 700;

}

.tag,
.location,
.label {
    color: #c4c1c1;
    font-size: large;
    font-weight: 400;

}

.stats {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0px;
    justify-content: center;
    background-color: aliceblue;
    margin-bottom: 60px;
    width: 260px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid rgb(97, 87, 87);

}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 87px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.item:last-child {
    border-left: 1px solid rgb(97, 87, 87);

}

.item:first-child {
    border-right: 1px solid rgb(97, 87, 87);

}

